@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$bleen: #3bf498;
$anthracite: #282c34;

* {
  background: none;
  margin: 0;
  border: none;
  padding: 0;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", "Arial Unicode MS", sans-serif;
}

body {
  min-height: 100vh;
  background-color: $anthracite;
}