<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>UnicodeTool - {{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
  <header>
    <h1>UnicodeTool</h1>
    {% if not search %}
    <form method="GET" action="/search">
      <input type="text" name="search" placeholder="'cross' or '&check;' or 'U+1f52b' or '24537'">
    </form>
    {% endif %}
    <nav>
      <ul>
        <li><a href="/" {% if request.path == "/" %} class="active" {% endif %}>Accueil</a></li>
        <li><a href="/search" {% if request.path == "/search" %} class="active" {% endif %}>Recherche</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <span>
      UnicodeTool by Grégoire "Valu" Masse
      © 2019 All rights reserved
    </span>
  </footer>
</body>

</html>